#loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.circle-spin-1 {
  --size: 48px;
  --stroke-width: calc(var(--size) / 6);
  --color: #fff;
  --animation-timing-function: linear;
  --animation-duration: 1s;
  width: var(--size);
  height: var(--size);
  border-width: var(--stroke-width);
  border-style: solid;
  border-color: var(--color) var(--color) var(--color) transparent;
  border-radius: 50%;
  transform: rotate(0deg);
  animation: circle-spin-1-animation var(--animation-duration) infinite var(--animation-timing-function);
}

@keyframes circle-spin-1-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body.loaded #loading {
  display: none;
}

body.loaded .content {
  opacity: 1;
}

.content {
  opacity: 0;
  transition: opacity 0.5s ease;
}

body {
  background-color: #111111;
  background-size: cover;
  font-family: 'Arial', sans-serif;
  color: #fff;
  transition: background-color 0.5s, color 0.5s;
  margin: 0;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333333;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}

.sidebar a {
  padding: 15px 10px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.2s;
}

.sidebar a:hover {
  background-color: #575757;
}

.open-btn {
  z-index:10;
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  border: none;
  padding: 10px 15px;
  position: fixed;
  top: 20px;
  left: 20px;
  border-radius: 20%;
}

.sidebar.open {
  width: 250px;
  z-index:8;
}

.title {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGteH0LDet0636ouB3OWElcInVYOrHZ9prdw&s');
  background-size: cover;
  background-position: center;
  position: relative;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title h1 {
  font-size: 600%;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin: 0;
}

.border1 {
  display: flex;
  flex-direction: column;
  border: 3px solid #4d4d4d;
  border-radius: 15px;
  padding: 2em;
  width: 600px;
  margin: 20px auto;
  text-align: left;
  background-color: #222;
  box-sizing: border-box;
  opacity: 0;
  animation: slideIn 1s forwards;
}

.heading1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 1em;
}

.text1 {
  font-size: 20px;
  margin-bottom: 1em;
}

.read-more {
  color: #4d90fe;
  text-decoration: none;
  font-size: 18px;
  margin-top: 1em;
  align-self: flex-end;
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.custom-footer {
    border-top: 2px solid #333;
    padding: 10px;
    text-align: center;
    background-color: #222;
    color: #ccc;
    position: relative;
}

.footer-links {
    margin-top: 10px;
}

.footer-link,
.footer-icon {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

.footer-icon:hover {
    color: #4d90fe;
}

.footer-link:hover {
    color: #4d90fe;
}
.countdown-container {
  text-align: center;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#countdown {
  font-size: 2rem;
  color: #333;
}

#countdown span {
  font-weight: bold;
}
/* スマホ版のスタイル */
@media(max-width: 800px) {
  .border1 {
    width: 80%;
    padding: 1em;
  }

  .title h1 {
    font-size: 70px;
  }

  .open-btn{
    z-index:10;
  }
  .sidebar{
    z-index:8;
  }
  .custom-footer{
    font-size:15px;
    text-align:center;
  }
}
